# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build / cache folders
dist/
.cache/

# Upload temp folders
uploads/
